
LR_13/TCP/ClientT/.vs/ClientT/FileContentIndex/e506e88d-e44a-46d8-bacc-91dab7731479.vsidx

LR_13/TCP/ClientT/.vs/ClientT/FileContentIndex/read.lock

LR_13/TCP/ClientT/.vs/ClientT/v16/.suo

LR_13/TCP/ClientT/.vs/ClientT/v16/Browse.VC.db

LR_13/TCP/ClientT/.vs/ClientT/v16/ipch/AutoPCH/1a1ea2289d293b3b/CLIENTT.ipch

LR_13/TCP/ClientT/.vs/ClientT/v16/ipch/AutoPCH/20205140036f3037/CLIENTT.ipch

LR_13/TCP/ClientT/.vs/ClientT/v16/ipch/AutoPCH/2105a7bc3c7ed54a/ERROR.ipch

LR_13/TCP/ClientT/.vs/ClientT/v16/ipch/AutoPCH/572e94cccb835b81/CLIENTT.ipch

LR_13/TCP/ClientT/.vs/ClientT/v16/ipch/AutoPCH/ab7ef4074c6cc593/CLIENTT.ipch

LR_13/TCP/ClientT/.vs/ClientT/v16/ipch/AutoPCH/b88db54c5a6c546b/CLIENTT.ipch

LR_13/TCP/ClientT/.vs/ClientT/v17/.suo

LR_13/TCP/ClientT/.vs/ClientT/v17/Browse.VC.db

LR_13/TCP/ClientT/.vs/ClientT/v17/ipch/AutoPCH/7bedbb547b20031d/CLIENTT.ipch

LR_13/TCP/ClientT/ClientT.sln

LR_13/TCP/ClientT/ClientT.VC.db

LR_13/TCP/ClientT/ClientT/ClientT.cpp

LR_13/TCP/ClientT/ClientT/ClientT.vcxproj

LR_13/TCP/ClientT/ClientT/ClientT.vcxproj.filters.txt

LR_13/TCP/ClientT/ClientT/ClientT.vcxproj.user

LR_13/TCP/ClientT/ClientT/Debug/ClientT.log

LR_13/TCP/ClientT/ClientT/Debug/ClientT.obj

LR_13/TCP/ClientT/ClientT/Debug/ClientT.tlog/CL.command.1.tlog

LR_13/TCP/ClientT/ClientT/Debug/ClientT.tlog/CL.read.1.tlog

LR_13/TCP/ClientT/ClientT/Debug/ClientT.tlog/CL.write.1.tlog

LR_13/TCP/ClientT/ClientT/Debug/ClientT.tlog/ClientT.lastbuildstate

LR_13/TCP/ClientT/ClientT/Debug/ClientT.tlog/desktop.ini

LR_13/TCP/ClientT/ClientT/Debug/ClientT.tlog/link.command.1.tlog

LR_13/TCP/ClientT/ClientT/Debug/ClientT.tlog/link.read.1.tlog

LR_13/TCP/ClientT/ClientT/Debug/ClientT.tlog/link.write.1.tlog

LR_13/TCP/ClientT/ClientT/Debug/desktop.ini

LR_13/TCP/ClientT/ClientT/Debug/Error.obj

LR_13/TCP/ClientT/ClientT/Debug/stdafx.obj

LR_13/TCP/ClientT/ClientT/Debug/vc140.idb

LR_13/TCP/ClientT/ClientT/Debug/vc140.pdb

LR_13/TCP/ClientT/ClientT/desktop.ini

LR_13/TCP/ClientT/ClientT/Error.cpp

LR_13/TCP/ClientT/ClientT/Error.h

LR_13/TCP/ClientT/ClientT/ReadMe.txt

LR_13/TCP/ClientT/ClientT/stdafx.cpp

LR_13/TCP/ClientT/ClientT/stdafx.h

LR_13/TCP/ClientT/ClientT/targetver.h

LR_13/TCP/ClientT/ClientT/x64/Debug/ClientT.exe.recipe

LR_13/TCP/ClientT/ClientT/x64/Debug/ClientT.ilk

LR_13/TCP/ClientT/ClientT/x64/Debug/ClientT.log

LR_13/TCP/ClientT/ClientT/x64/Debug/ClientT.obj

LR_13/TCP/ClientT/ClientT/x64/Debug/ClientT.tlog/CL.command.1.tlog

LR_13/TCP/ClientT/ClientT/x64/Debug/ClientT.tlog/CL.read.1.tlog

LR_13/TCP/ClientT/ClientT/x64/Debug/ClientT.tlog/CL.write.1.tlog

LR_13/TCP/ClientT/ClientT/x64/Debug/ClientT.tlog/ClientT.lastbuildstate

LR_13/TCP/ClientT/ClientT/x64/Debug/ClientT.tlog/desktop.ini

LR_13/TCP/ClientT/ClientT/x64/Debug/ClientT.tlog/link.command.1.tlog

LR_13/TCP/ClientT/ClientT/x64/Debug/ClientT.tlog/link.read.1.tlog

LR_13/TCP/ClientT/ClientT/x64/Debug/ClientT.tlog/link.write.1.tlog

LR_13/TCP/ClientT/ClientT/x64/Debug/desktop.ini

LR_13/TCP/ClientT/ClientT/x64/Debug/Error.obj

LR_13/TCP/ClientT/ClientT/x64/Debug/stdafx.obj

LR_13/TCP/ClientT/ClientT/x64/Debug/vc141.idb

LR_13/TCP/ClientT/ClientT/x64/Debug/vc141.pdb

LR_13/TCP/ClientT/ClientT/x64/Debug/vc142.idb

LR_13/TCP/ClientT/ClientT/x64/Debug/vc142.pdb

LR_13/TCP/ClientT/ClientT/x64/Debug/vc143.idb

LR_13/TCP/ClientT/ClientT/x64/Debug/vc143.pdb

LR_13/TCP/ClientT/ClientT/x64/desktop.ini

LR_13/TCP/ClientT/Debug/ClientT.exe

LR_13/TCP/ClientT/Debug/ClientT.ilk

LR_13/TCP/ClientT/Debug/ClientT.pdb

LR_13/TCP/ClientT/Debug/desktop.ini

LR_13/TCP/ClientT/desktop.ini

LR_13/TCP/ClientT/x64/Debug/ClientT.exe

LR_13/TCP/ClientT/x64/Debug/ClientT.ilk

LR_13/TCP/ClientT/x64/Debug/ClientT.pdb

LR_13/TCP/ClientT/x64/Debug/desktop.ini

LR_13/TCP/ClientT/x64/desktop.ini

LR_13/TCP/ServerT/.vs/ServerT/FileContentIndex/9703bfb4-75fb-40d2-8b8f-11ea63d61d60.vsidx

LR_13/TCP/ServerT/.vs/ServerT/FileContentIndex/a8ebe1c8-7d72-4d5d-80e4-884eba7a963c.vsidx

LR_13/TCP/ServerT/.vs/ServerT/FileContentIndex/read.lock

LR_13/TCP/ServerT/.vs/ServerT/v16/.suo

LR_13/TCP/ServerT/.vs/ServerT/v16/Browse.VC.db

LR_13/TCP/ServerT/.vs/ServerT/v16/ipch/AutoPCH/1035147400a29b73/SERVERT.ipch

LR_13/TCP/ServerT/.vs/ServerT/v16/ipch/AutoPCH/22bd07534d4ff4a0/ERROR.ipch

LR_13/TCP/ServerT/.vs/ServerT/v16/ipch/AutoPCH/480fa3752fb6cdfe/ERROR.ipch

LR_13/TCP/ServerT/.vs/ServerT/v16/ipch/AutoPCH/5eee9b97207099e8/POLISHNOTATION.ipch

LR_13/TCP/ServerT/.vs/ServerT/v16/ipch/AutoPCH/980f2da3cedaf223/SERVERT.ipch

LR_13/TCP/ServerT/.vs/ServerT/v16/ipch/AutoPCH/a221a5afff8d55aa/ERROR.ipch

LR_13/TCP/ServerT/.vs/ServerT/v16/ipch/AutoPCH/a95346329d246f36/CLIENTU.ipch

LR_13/TCP/ServerT/.vs/ServerT/v16/ipch/AutoPCH/ad9ed340fe1a7621/SERVERT.ipch

LR_13/TCP/ServerT/.vs/ServerT/v16/ipch/AutoPCH/bd5867c8031fb5db/SERVERT.ipch

LR_13/TCP/ServerT/.vs/ServerT/v16/ipch/AutoPCH/e1d5356c0c868037/SERVERT.ipch

LR_13/TCP/ServerT/.vs/ServerT/v16/ipch/AutoPCH/e4e732d3912c9904/ERROR.ipch

LR_13/TCP/ServerT/.vs/ServerT/v17/.suo

LR_13/TCP/ServerT/.vs/ServerT/v17/Browse.VC.db

LR_13/TCP/ServerT/.vs/ServerT/v17/ipch/AutoPCH/7bedbb547b20031d/CLIENTT.ipch

LR_13/TCP/ServerT/.vs/ServerT/v17/ipch/AutoPCH/a2a2dda193d6f48d/SERVERT.ipch

LR_13/TCP/ServerT/Debug/desktop.ini

LR_13/TCP/ServerT/Debug/ServerT.exe

LR_13/TCP/ServerT/Debug/ServerT.ilk

LR_13/TCP/ServerT/Debug/ServerT.pdb

LR_13/TCP/ServerT/desktop.ini

LR_13/TCP/ServerT/ServerT.sln

LR_13/TCP/ServerT/ServerT.VC.db

LR_13/TCP/ServerT/ServerT/Debug/desktop.ini

LR_13/TCP/ServerT/ServerT/Debug/Error.obj

LR_13/TCP/ServerT/ServerT/Debug/ServerT.log

LR_13/TCP/ServerT/ServerT/Debug/ServerT.obj

LR_13/TCP/ServerT/ServerT/Debug/ServerT.tlog/CL.command.1.tlog

LR_13/TCP/ServerT/ServerT/Debug/ServerT.tlog/CL.read.1.tlog

LR_13/TCP/ServerT/ServerT/Debug/ServerT.tlog/CL.write.1.tlog

LR_13/TCP/ServerT/ServerT/Debug/ServerT.tlog/desktop.ini

LR_13/TCP/ServerT/ServerT/Debug/ServerT.tlog/link.command.1.tlog

LR_13/TCP/ServerT/ServerT/Debug/ServerT.tlog/link.read.1.tlog

LR_13/TCP/ServerT/ServerT/Debug/ServerT.tlog/link.write.1.tlog

LR_13/TCP/ServerT/ServerT/Debug/ServerT.tlog/ServerT.lastbuildstate

LR_13/TCP/ServerT/ServerT/Debug/stdafx.obj

LR_13/TCP/ServerT/ServerT/Debug/vc140.idb

LR_13/TCP/ServerT/ServerT/Debug/vc140.pdb

LR_13/TCP/ServerT/ServerT/desktop.ini

LR_13/TCP/ServerT/ServerT/Error.cpp

LR_13/TCP/ServerT/ServerT/Error.h

LR_13/TCP/ServerT/ServerT/ReadMe.txt

LR_13/TCP/ServerT/ServerT/ServerT.cpp

LR_13/TCP/ServerT/ServerT/ServerT.vcxproj

LR_13/TCP/ServerT/ServerT/ServerT.vcxproj.filters.txt

LR_13/TCP/ServerT/ServerT/ServerT.vcxproj.user

LR_13/TCP/ServerT/ServerT/stdafx.cpp

LR_13/TCP/ServerT/ServerT/stdafx.h

LR_13/TCP/ServerT/ServerT/targetver.h

LR_13/TCP/ServerT/ServerT/x64/Debug/desktop.ini

LR_13/TCP/ServerT/ServerT/x64/Debug/Error.obj

LR_13/TCP/ServerT/ServerT/x64/Debug/ServerT.exe.recipe

LR_13/TCP/ServerT/ServerT/x64/Debug/ServerT.ilk

LR_13/TCP/ServerT/ServerT/x64/Debug/ServerT.log

LR_13/TCP/ServerT/ServerT/x64/Debug/ServerT.obj

LR_13/TCP/ServerT/ServerT/x64/Debug/ServerT.tlog/CL.command.1.tlog

LR_13/TCP/ServerT/ServerT/x64/Debug/ServerT.tlog/CL.read.1.tlog

LR_13/TCP/ServerT/ServerT/x64/Debug/ServerT.tlog/CL.write.1.tlog

LR_13/TCP/ServerT/ServerT/x64/Debug/ServerT.tlog/desktop.ini

LR_13/TCP/ServerT/ServerT/x64/Debug/ServerT.tlog/link.command.1.tlog

LR_13/TCP/ServerT/ServerT/x64/Debug/ServerT.tlog/link.read.1.tlog

LR_13/TCP/ServerT/ServerT/x64/Debug/ServerT.tlog/link.write.1.tlog

LR_13/TCP/ServerT/ServerT/x64/Debug/ServerT.tlog/ServerT.lastbuildstate

LR_13/TCP/ServerT/ServerT/x64/Debug/stdafx.obj

LR_13/TCP/ServerT/ServerT/x64/Debug/vc141.idb

LR_13/TCP/ServerT/ServerT/x64/Debug/vc141.pdb

LR_13/TCP/ServerT/ServerT/x64/Debug/vc142.idb

LR_13/TCP/ServerT/ServerT/x64/Debug/vc142.pdb

LR_13/TCP/ServerT/ServerT/x64/Debug/vc143.idb

LR_13/TCP/ServerT/ServerT/x64/Debug/vc143.pdb

LR_13/TCP/ServerT/ServerT/x64/desktop.ini

LR_13/TCP/ServerT/x64/Debug/desktop.ini

LR_13/TCP/ServerT/x64/Debug/ServerT.exe

LR_13/TCP/ServerT/x64/Debug/ServerT.ilk

LR_13/TCP/ServerT/x64/Debug/ServerT.pdb

LR_13/TCP/ServerT/x64/desktop.ini

LR_13/UDP/ClientU/.vs/ClientU/v16/.suo

LR_13/UDP/ClientU/.vs/ClientU/v16/Browse.VC.db

LR_13/UDP/ClientU/.vs/ClientU/v16/ipch/AutoPCH/16aa203582c3f45c/ERROR.ipch

LR_13/UDP/ClientU/.vs/ClientU/v16/ipch/AutoPCH/2285bdcd1a5604de/MAIN.ipch

LR_13/UDP/ClientU/.vs/ClientU/v16/ipch/AutoPCH/448b0f4cd71cbf0c/ERROR.ipch

LR_13/UDP/ClientU/.vs/ClientU/v16/ipch/AutoPCH/4ff16c4da65a4df4/CLIENTU.ipch

LR_13/UDP/ClientU/.vs/ClientU/v16/ipch/AutoPCH/5d8eb891d3212a45/MAIN.ipch

LR_13/UDP/ClientU/.vs/ClientU/v16/ipch/AutoPCH/695d10c4a8ff6bd6/CLIENTU.ipch

LR_13/UDP/ClientU/.vs/ClientU/v16/ipch/AutoPCH/7514fa1e9a885a8b/MAIN.ipch

LR_13/UDP/ClientU/.vs/ClientU/v16/ipch/AutoPCH/8286a872557a7128/ERROR.ipch

LR_13/UDP/ClientU/.vs/ClientU/v16/ipch/AutoPCH/bf4a2986fc96f049/MAIN.ipch

LR_13/UDP/ClientU/.vs/ClientU/v16/ipch/AutoPCH/c73892ddfec99342/MAIN.ipch

LR_13/UDP/ClientU/.vs/ClientU/v16/ipch/AutoPCH/e3fe9ad0ccfd3125/MAIN.ipch

LR_13/UDP/ClientU/ClientU.cpp

LR_13/UDP/ClientU/ClientU.sln

LR_13/UDP/ClientU/ClientU.vcxproj

LR_13/UDP/ClientU/ClientU.vcxproj.filters

LR_13/UDP/ClientU/ClientU.vcxproj.user

LR_13/UDP/ClientU/Debug/ClientU.Build.CppClean.log

LR_13/UDP/ClientU/Debug/ClientU.exe

LR_13/UDP/ClientU/Debug/ClientU.exe.recipe

LR_13/UDP/ClientU/Debug/ClientU.ilk

LR_13/UDP/ClientU/Debug/ClientU.log

LR_13/UDP/ClientU/Debug/ClientU.obj

LR_13/UDP/ClientU/Debug/ClientU.pdb

LR_13/UDP/ClientU/Debug/ClientU.tlog/CL.command.1.tlog

LR_13/UDP/ClientU/Debug/ClientU.tlog/CL.read.1.tlog

LR_13/UDP/ClientU/Debug/ClientU.tlog/CL.write.1.tlog

LR_13/UDP/ClientU/Debug/ClientU.tlog/ClientU.lastbuildstate

LR_13/UDP/ClientU/Debug/ClientU.tlog/link.command.1.tlog

LR_13/UDP/ClientU/Debug/ClientU.tlog/link.read.1.tlog

LR_13/UDP/ClientU/Debug/ClientU.tlog/link.write.1.tlog

LR_13/UDP/ClientU/Debug/ClientU.vcxproj.FileListAbsolute.txt

LR_13/UDP/ClientU/Debug/Error.obj

LR_13/UDP/ClientU/Debug/vc142.idb

LR_13/UDP/ClientU/Debug/vc142.pdb

LR_13/UDP/ClientU/Debug/vc143.idb

LR_13/UDP/ClientU/Debug/vc143.pdb

LR_13/UDP/ClientU/Error.cpp

LR_13/UDP/ClientU/Error.h

LR_13/UDP/ServerU/.vs/ServerU/FileContentIndex/fac1aa67-df70-4612-aa31-6e28c83cbe4c.vsidx

LR_13/UDP/ServerU/.vs/ServerU/FileContentIndex/read.lock

LR_13/UDP/ServerU/.vs/ServerU/v16/.suo

LR_13/UDP/ServerU/.vs/ServerU/v16/Browse.VC.db

LR_13/UDP/ServerU/.vs/ServerU/v16/ipch/AutoPCH/16aa203582c3f45c/ERROR.ipch

LR_13/UDP/ServerU/.vs/ServerU/v16/ipch/AutoPCH/4ff16c4da65a4df4/CLIENTU.ipch

LR_13/UDP/ServerU/.vs/ServerU/v16/ipch/AutoPCH/695d10c4a8ff6bd6/CLIENTU.ipch

LR_13/UDP/ServerU/.vs/ServerU/v16/ipch/AutoPCH/746a64b2699ac0dc/SERVERU.ipch

LR_13/UDP/ServerU/.vs/ServerU/v16/ipch/AutoPCH/ba58ad01938248e0/ERROR.ipch

LR_13/UDP/ServerU/.vs/ServerU/v16/ipch/AutoPCH/e13a47c5e27c4c1e/SERVERU.ipch

LR_13/UDP/ServerU/.vs/ServerU/v16/Solution.VC.db

LR_13/UDP/ServerU/.vs/ServerU/v17/.suo

LR_13/UDP/ServerU/.vs/ServerU/v17/Browse.VC.db

LR_13/UDP/ServerU/.vs/ServerU/v17/ipch/AutoPCH/4dbbb8d9ded3ae0e/CLIENTU.ipch

LR_13/UDP/ServerU/.vs/ServerU/v17/ipch/AutoPCH/a2f356bca684c26/SERVERU.ipch

LR_13/UDP/ServerU/.vs/ServerU/v17/Solution.VC.db

LR_13/UDP/ServerU/Debug/ClientU.exe

LR_13/UDP/ServerU/Debug/ClientU.pdb

LR_13/UDP/ServerU/Debug/Error.obj

LR_13/UDP/ServerU/Debug/ServerU.exe

LR_13/UDP/ServerU/Debug/ServerU.exe.recipe

LR_13/UDP/ServerU/Debug/ServerU.ilk

LR_13/UDP/ServerU/Debug/ServerU.log

LR_13/UDP/ServerU/Debug/ServerU.obj

LR_13/UDP/ServerU/Debug/ServerU.pdb

LR_13/UDP/ServerU/Debug/ServerU.tlog/CL.command.1.tlog

LR_13/UDP/ServerU/Debug/ServerU.tlog/CL.read.1.tlog

LR_13/UDP/ServerU/Debug/ServerU.tlog/CL.write.1.tlog

LR_13/UDP/ServerU/Debug/ServerU.tlog/link.command.1.tlog

LR_13/UDP/ServerU/Debug/ServerU.tlog/link.read.1.tlog

LR_13/UDP/ServerU/Debug/ServerU.tlog/link.write.1.tlog

LR_13/UDP/ServerU/Debug/ServerU.tlog/ServerU.lastbuildstate

LR_13/UDP/ServerU/Debug/ServerU.vcxproj.FileListAbsolute.txt

LR_13/UDP/ServerU/Debug/vc142.idb

LR_13/UDP/ServerU/Debug/vc142.pdb

LR_13/UDP/ServerU/Debug/vc143.idb

LR_13/UDP/ServerU/Debug/vc143.pdb

LR_13/UDP/ServerU/Error.cpp

LR_13/UDP/ServerU/Error.h

LR_13/UDP/ServerU/ServerU.cpp

LR_13/UDP/ServerU/ServerU.sln

LR_13/UDP/ServerU/ServerU.vcxproj

LR_13/UDP/ServerU/ServerU.vcxproj.filters

LR_13/UDP/ServerU/ServerU.vcxproj.user
